<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"
    />
    <title>Otterly Crazy</title>
  </head>
  <body>
    <div class="container">
      <%- include('_header') %>
      <main>
        <div class="jumbotron text-center mb-4 mt-4">
          <h2 class="mt-2 mb-2">Donate</h2>
        </div>
        <h3>How to help</h3>
        <p class="lead">
          There are a number of organisations trying to help otters and aid
          their survival. Here are a few to start with:
        </p>
        <ul>
          <li><a href="https://www.otter.org/Public/">IOSF</a></li>
          <li>
            <a href="http://www.ukwildottertrust.org/">UK Wild Otter Trust</a>
          </li>
          <li>
            <a href="https://www.chestnutcentre.co.uk/"
              >Chestnut Center: Otter, Owl and Wildlife Park</a
            >
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>
