<div class="form-group">
  <label for="title">Title</label>
  <input required class="form-control" type="text" name="title" id="title" />
</div>
<div class="form-group">
  <label for="content">Content</label>
  <textarea
    required
    class="form-control"
    name="content"
    id="content"
    cols="30"
    rows="10"
  ></textarea>
</div>
<a class="btn btn-lg btn-primary text-dark" href="/">Cancel</a>
<button class="btn btn-lg text-dark btn-secondary" type="submit">Submit</button>
